{% extends 'base.html' %}

{% load account socialaccount %}
{% load static %}

{% block extracss%}
<link rel="stylesheet" href="{% static 'css/authorization.css' %}">
{% endblock extracss %}

{% block content %}

<div class="container">
	<div class="d-flex justify-content-center align-items-center min-vh-100">
		<div class="card login-card">
			<div class="card-header login-card-header mt-2">
				<h3>Sign In</h3>
				<div class="d-flex justify-content-end social-position">
					<span><i title="Log in with Google" class="fa-brands fa-google social-icon"></i></span>
					<span><i title="Log in with Facebook"class="fa-brands fa-facebook social-icon"></i></span>
				</div>
			</div>
			<div class="card-body">
				<form class="login" method="POST" action="{% url 'account_login' %}">
					{% csrf_token %}
					{% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
					<div class="input-group form-group mb-3">
						<div class="input-group-prepend prepend-login">
							<span class="input-group-text"><i class="fas fa-at"></i></span>
						</div>
						<input type="email" name="login" required id="id_login" autocomplete="email" class="form-control" placeholder="email">
						
					</div>
					<div class="input-group form-group mb-3">
						<div class="input-group-prepend prepend-login">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" name="password" required id="id_password" autocomplete="current-password" class="form-control" placeholder="password">
					</div>
					<div class="row align-items-center remember mb-3">
						<input type="checkbox" name="remember" id="id_remember">Remember Me
					</div>
					<div class="form-group">
						<input type="submit" value="Login" class="btn float-end login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Don't have an account?<a href="{% url 'account_signup' %}">Sign Up</a>
				</div>
				<div class="d-flex justify-content-center links">
					<a href="{% url 'account_reset_password' %}">Forgot your password?</a>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}
