@import url('https://fonts.googleapis.com/css?family=Numans');

html, body{
    background-image: url('../images/banners/banner3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container{
    height: 100%;
    align-content: center;
}

.login-card{
    height: 30%;
    margin-top: auto;
    margin-bottom: auto;
    width: 35%;
    background-color: rgba(0,0,0,0.5) !important;
}

.social-icon {
    font-size: 40px;
    margin-left: 10px;
    color: #FFC312;
}

.social-icon:hover{
    color: white;
    cursor: pointer;
}

.social-position {
    position: absolute;
    top: 1em;
    right: 1em;
}

.login-card-header h3{
    color: white;
}

.prepend-login span{
    width: 45px;
    height: 40px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
}

.prepend-signup span{
    width: 45px;
    height: 40px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
}

.remember{
    color: white;
}

.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.login_btn:hover{
    color: black;
    background-color: white;
}

.links{
    color: white;
}

.links a{
    text-decoration: none;
    margin-left: 4px;
}

inpute#id_username[read-only] {
    cursor: text;
    background-color: #fff;
}