.navbar-nav {
    margin-left: auto;
    margin-right: 2rem;
  }

  .navbar-height {
    height: 70px;
  }

  .carousel {
    margin-bottom: 4rem;
  }

  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }

  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }

  .carousel-item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }

  .centered-and-cropped {
    width: auto;
    height: 400px;
    object-fit: cover;
  }

  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .marketing h2 {
    font-weight: 400;
  }

  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }

  .stuff {
    width: 140px;
    height: 140px;
    margin: auto;
  }
  .scale-effect {
     transition: all 0.2s ease;
     cursor: pointer
}

.scale-effect:hover {
    transform: scale(1.1)
}

.star-rating {
  line-height:32px;
  font-size:1.25em;
}
